# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# local backups / media (never commit uploaded assets)
/media
